header{
display:flex;
flex-wrap: wrap;


}
header h1{
width:40%;
border: 1px red solid;
}
header nav{
width:58%;
border: 1px red solid;


}
header nav ul{
display:flex; 
flex-direction: row !important; 
justify-content: flex-end;
list-style: none;  
}



header nav li a{

padding-left: 20px;     


 
}


